ul.navbar {
    list-style-type: none; 
    margin: 0;    
    padding: 0;   
    overflow: hidden;    
    background-color: black; }
ul.navbar li {    
    float: left; }
ul.navbar li a {   
    display: block;   
        color: white;    
    text-align: center;    
    padding: 14px 16px;    
    text-decoration: none; } 
ul.navbar li a:hover {   
    background-color: paleturquoise; }

body.breakfast {
    

            background-image: url(Sunfloer%20yes.jpg);
         background-repeat: no-repeat;
         background-size: cover;   
}

body.lunch {
    

            background-image: url(Grilled%20cheese%20avocado.jpg);
         background-repeat: no-repeat;
         background-size: cover;   
}